@model Chieu3_Tuan4_2011069025_PhanAnhThang.Models.Sach

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>Sach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maloai)
        </dd>

        <dt>
            Tên Sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tensach)
        </dd>

        <dt>
            Hình
        </dt>

        <dd>
            <img src="@Model.hinh" alt="Hinh" />
        </dd>

        <dt>
            Giá bán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaban)
        </dd>

        <dt>
            Ngày cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaycapnhat)
        </dd>

        <dt>
            Số lượng tồn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluongton)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.masach }) |
    @Html.ActionLink("Back to List", "ListSach")
</p>
